DATABASE_URL=
RESEND_API_KEY=
NEXT_PUBLIC_APP_URL=
RAPIDAPI_API_KEY=
OPENAI_API_KEY=
CUSTOM_AWS_REGION_NAME=
CUSTOM_AWS_ACCESS_KEY=
CUSTOM_AWS_SECRET_ACCESS_KEY=
CUSTOM_AWS_BUCKET_NAME=
NFP_AUDIO_QUEUE_URL=
RUNPOD_SERVERLESS_ID=
RUNPOD_API_KEY=
