name: Build and Deploy

on:
  push:
    branches:
      - never

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    env:
      DATABASE_URL: ${{ secrets.DATABASE_URL }}
      NEXT_PUBLIC_APP_URL: ${{ secrets.NEXT_PUBLIC_APP_URL }}
      RESEND_API_KEY: ${{ secrets.RESEND_API_KEY }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Install Nixpacks
        run: |
          curl -sSL https://nixpacks.com/install.sh | bash

      - name: Build Docker image with Nixpacks
        run: |
          nixpacks build . \
            --name notefinder \
            --env DATABASE_URL=${{ env.DATABASE_URL }} \
            --env NEXT_PUBLIC_APP_URL=${{ env.NEXT_PUBLIC_APP_URL }} \
            --env RESEND_API_KEY=${{ env.RESEND_API_KEY }}

      - name: Tag Docker image
        run: |
          docker tag notefinder:latest ghcr.io/theryston/notefinder:latest
          docker tag notefinder:latest ghcr.io/theryston/notefinder:${{ github.sha }}

      - name: Push Docker image
        run: |
          docker push ghcr.io/theryston/notefinder:latest
          docker push ghcr.io/theryston/notefinder:${{ github.sha }}

  trigger-deployment:
    runs-on: ubuntu-latest
    needs: build-and-push
    steps:
      - name: Trigger Coolify deployment
        run: |
          curl --request GET '${{ secrets.COOLIFY_WEBHOOK }}' --header 'Authorization: Bearer ${{ secrets.COOLIFY_TOKEN }}'
